<!doctype html>
<html>
    <body style="width: 600px; padding: 6px;">
        <div class="divisor" style="width: 100%; height: 8px; background-color: #262626; border-radius: 3px; margin-bottom: 40px;"></div>
        <div class="welcome">
        <h1 id="title" style="color:#262626; font-size: 26px;">Olá, {{username}}.</h1>
        <p id="message" style="margin-top: 24px; margin-bottom: 40px; font-size: 20px;">
            <span style="font-size: 26px;">&#128236;</span> - Next 7 days tasks:
        </p>
        </div>
        <div class="task_list">
            {% for task in all_tasks %}
                <p class="single_task">&#10145; {{task.name}} - <span style="font-style: italic;">Deadline: ({{task.deadline}})</span></p>
            {% endfor %}
        </div>

        <div class="ChatGPT" style="margin-top: 40px;">
            <p><span style="font-size: 22px;">&#128752;</span><span style="font-size: 20px;"> - ChatGPT:</span></p>
            <p style="font-size: 16px; font-style: italic;">Considerações do ChatGPT sobre as tarefas para os próximos 7 dias:</p>
            {% for answer_line in chatgpt_answer %}
                <p class="single_task" style="margin-top: 12px">&#10145; {{answer_line}}</p>
            {% endfor %}
        </div>

        <div class="final_message">
            <p id="final_message" style="margin-top: 40px; font-size: 16px">
                <span style="font-size: 20px;">&#127919;</span><span style="font-style: italic;"> - {{nice_message}}</span>
            </p>
        </div>
        <div class="divisor" style="width: 100%; height: 8px; background-color: #262626; border-radius: 3px; margin-top: 40px;"></div>
  </body>
</html>